.page-404 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 900px;
  padding-bottom: 170px;
  z-index: 1;

  @include media-w($xl) {
    height: 800px;
    padding-bottom: 90px;
  }

  @include media-w($lg) {
    height: 700px;
    padding-bottom: 70px;
  }

  @include media-w($sm) {
    height: 480px;
    padding-bottom: 25px;
  }

  @include media-w($xs) {
    height: 385px;
  }


  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(55, 55, 55, 0) 0%, rgba(55, 55, 55, 0.297519) 41.67%, rgba(55, 55, 55, 0.46) 97.51%);
    z-index: -1;

    @include media-w($sm) {
      top: 40%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  &__content {
    max-height: 180px;
    text-align: center;
  }


  &__title {
    font-family: 'FjallaOne', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: $blue-bg;
    margin: 0 0 20px 0;

    @include media-w($md) {
      font-size: 40px;
    }

    @include media-w($sm) {
      line-height: 1;
      font-size: 25px;
    }
  }

  &__btn {
    display: inline-block;
    min-width: 300px;
    background-color: #FFFFFF;
    border: none;
    color: $black-main;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 25px 0;
    text-transform: uppercase;
    transform: scale(1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    @include media-w($sm) {
      padding: 15px 0;
    }

    &:focus {
      transform: scale(1.1);
    }

    &:hover {
      background-color: $black-main;
      color: #fff;
    }

    &:active {
      background-color: $grey70;
      transform: scale(1);
    }
  }
}