<article class="item-card">
    <button class="item-card__delete" type="button"></button>
    <div class="item-card__img-wrapper">
        <div class="item-card__pin">
            <svg>
                <use xlink:href="images/sprite.svg#badge-down"></use>
            </svg>
        </div>
        <img class="item-card__img" src="@@img" alt="Product img">
    </div>
    <div class="item-card__info">
        <div class="item-card__name">
            <h3 class="item-card__title">@@title</h3>
            <span class="item-card__size">Size: @@size gram</span>
        </div>

        <span class="item-card__price-one">
            $@@price-one
        </span>

        <div class="item-card__pricing">
            <input class="item-card__number" type="number" min="1" value="1">
            <span class="item-card__price-accent">$@@price-accent</span>
        </div>
    </div>
</article>