.dropdown-list {
  width: 270px;
  padding: 30px 20px 25px 0;
  background-color: $blue-bg;
  position: absolute;
  right: 0;
  top: 38px;
  flex-direction: column;
  z-index: 2;
  margin: 0;
  color: $grey65;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &--wide {
    width: 100%;
    top: 58px;
  }

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--half {
      width: 50%;
    }
  }

  &__link {
    font-size: 18px;
    display: block;
    padding: 5px 0 5px 18px;
  }
}