.detail-slider {
  position: relative;

  &__list {
    width: 420px;
    min-height: 480px;
    margin: 0;
    border: 1px solid $grey60;

    @include media-w($xs) {
      width: 310px;
      min-height: 350px;
    }

    .slick-dots {
      bottom: -13px;
      li{
        margin: 0;

        &:not(:last-child) {
          margin-right: 40px;
        }
        button {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          border: 1px solid #373737;
          background-color: #fff;
          font-size: initial;
          padding: 0;
          box-shadow: 0 0;
          transition: background-color .3s,transform .3s,box-shadow .3s;

          &::before {
            content: none;
          }
        }
      }

      .slick-active button {
        background-color: $black-main;
      }

    }
  }

  &__img {
    width: 400px;
    height: 450px;
    object-fit: contain;
    object-position: center;

    @include media-w($xs) {
      height: 320px;
      max-width: 100%;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    position: relative;

    &:hover .detail-slider__action{
      opacity: 1;
    }
  }

  &__box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $blue-bg;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    opacity: 0;
    transition: opacity 0.3s;

    @include media-w($md) {
      display: none;
    }

  }

  &__svg {
    position: absolute;
    right: 10px;
    top: -15px;
    width: 50px;
    height: 89px;
    z-index: 2;
  }
}
