.cart {
  padding: 60px 0 250px;

  @include media-w($md) {
    padding: 0 0 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 960px;
    width: 100%;
    margin-right: 120px;

    @include media-w($lg) {
      margin-right: 50px;
    }

    @include media-w($md) {
      margin-right: 0;
    }
  }

  &__right {
    max-width: 420px;
    width: 100%;

    @include media-w($lg) {
      max-width: 320px;
    }

    @include media-w($md) {
      display: none;
    }
  }

  &__label {
    display: none;
    max-width: 95%;
    margin: 0 auto 55px;


    @include media-w($md) {
      display: block;
    }
  }

  &__top-row {
    background-color: $blue-bg;
    text-align: center;
    padding: 16px;
    letter-spacing: 0.015em;
    color: #000;
    margin-bottom: 60px;

    @include media-w($md) {
      background-color: transparent;
      margin-bottom: 0;
      text-align: left;
      margin-bottom: 20px;
    }

    b {
      font-weight: 600;

      @include media-w($md) {
        font-weight: 300;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-wrapper {
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
  }

  &__img {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__sentence {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  &__top {
    padding: 14px 25px;
    background-color: $blue-bg;
    display: none;
    align-items: center;

    @include media-w($md) {
      display: flex;
    }
  }

  &__back {
    background-color: transparent;
    border: none;
    margin-right: 10px;

    svg {
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
      vertical-align: middle;
    }
  }

  &__products {
    margin: 0;
    color: $black-main;

    @include media-w($md) {
      margin-bottom: 25px;
    }
  }

  &__product {
    border-bottom: 1px solid $grey60;

    @include media-w($md) {
      border-bottom: none;
    }

    &:not(:last-child) {
      @include media-w($md) {
        margin-bottom: 30px;
      }
    }
  }

  &__form {
    margin-bottom: 60px;
  }

  &__link {
    font-size: 20px;
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    transition: border-color 0.3s;

    @include media-w($md) {
      display: none;
    }

    &:hover {
      border-color: transparent;
    }
  }

  &__text {
    font-weight: 500;
  }

  &__list {
    display: none;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-end;
    max-width: 95%;
    margin: 0 auto 50px;

    @include media-w($md) {
      display: flex;
    }
  }

  &__item {
    display: flex;
    max-width: 235px;
    width: 100%;
    justify-content: space-between;
  }

  &__wrapper-btn {
    display: none;
    justify-content: center;
    align-items: center;

    @include media-w($md) {
      display: flex;
    }
  }
}
