.article-card {
  h3 {
    font-size: 24px;
    margin: 0 0 20px 0;

    @include media-w($sm) {
      margin-bottom: 10px;
    }
  }

  b {
    font-weight: 600;
  }

  &__group {
    margin-top: 60px;
    margin-bottom: 90px;

    @include media-w($sm) {
      margin-top: 45px;
      margin-bottom: 50px;
    }


    &--sm {
      margin-bottom: 60px;

      @include media-w($sm) {
        margin-bottom: 50px;
      }
    }
  }

  &__list {
    display: none;
    align-items: center;

    @include media-w($md) {
      display: flex;
    }

  }

  &__social {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &--pinterest {
      background-image: url('../images/icons/pinterest-dark.svg');
    }

    &--fb{
      background-image: url('../images/icons/fb-dark.svg');
    }

    &--twitter{
      background-image: url('../images/icons/twitter-dark.svg');
    }
  }

  img {
    display: block;
  }

  span {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 12px;
    color: $blue60;
    letter-spacing: 0.7px;

    @include media-w($sm) {
      margin-top: 15px;
      margin-left: 0;
    }

  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    img {
      margin: 0 15px;
      width: calc(50% - 30px);

      @include media-w($xs) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 30px;

    @include media-w($sm) {
      padding-left: 0;
    }


    span {
      position: relative;
      margin: 0;
      padding-left: 20px;

      &::before {
        position: absolute;
        font-size: 25px;
        content: "";
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $blue60;
      }

    }
  }

  &__num {
    margin: 0;
  }

}