.blog-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $grey60;
  transition: border-color 0.3s;

  @include media-w($sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__img-wrapper {
    height: 210px;
    width: 100%;

    @include media-w($sm) {
      height: 190px;
      width: 185px;
    }

    @include media-w($xs) {
      height: unset;
      min-height: 100px;
      width: 95px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 30px 0 0;
    background-color: #fff;
    transition: background-color 0.3s;
  }

  &__title {
    padding: 30px 50px 38px;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.015em;
    background-color: transparent;
    transition: background-color 0.3s;

    @include media-w($sm) {
      padding: 23px;
      width: calc(100% - 185px);
    }

    @include media-w($xs) {
      width: calc(100% - 95px);
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    border-top: 1px solid $grey60;
    transition: border-color 0.3s;

    @include media-w($sm) {
      width: 100%;
    }
  }

  &__date {
    font-family: "FjallaOne", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $grey65;
    border-right: 1px solid $grey60;
    padding: 23px 12px;
    display: flex;
    max-width: 95px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include media-w($sm) {
      max-width: 185px;
    }

    @include media-w($xs) {
      max-width: 95px;
    }

    date {
      max-width: 32px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 19px 18px 16px;

    @include media-w($md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__pin {
    display: inline-block;
    padding: 4px 13px;
    font-size: 12px;
    color: #6FA4A9;
    background-color: $blue-bg;

    &:not(:last-child) {
      margin-bottom: 3px;

      @include media-w($md) {
        margin-right: 5px;
      }
    }
  }

  &__read-more {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green-primary;
    font-size: 14px;
    color: $black-main;
    opacity: 0;
    transition: opacity 0.3s;

    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 1px;
      background-color: $black-main;
      left: 93px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 1px;
      background-color: $black-main;
      right: 93px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}