.item-card {
  display: flex;
  align-items: center;
  padding: 30px 50px 30px 10px;
  position: relative;

  @include media-w($xl) {
    justify-content: space-between;
    padding: 30px 20px 10px;
  }

  @include media-w($md) {
    padding: 0;
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    border: 1px solid $grey60;
  }

  &__delete {
    background-color: transparent;
    border: 1px solid $grey63;
    border-radius: 50%;
    position: relative;
    min-width: 28px;
    min-height: 28px;
    margin-right: 10px;
    transition: background-color 0.3s;

    @include media-w($xl) {
      margin-right: 0;
    }

    @include media-w($md) {
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -13px;
      z-index: 2;
    }

    &::before {
      position: absolute;
      content: "<";
      color: $grey63;
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
      transition: color 0.3s;
    }

    &::after {
      position: absolute;
      content: ">";
      color: $grey63;
      top: 50%;
      right: 11px;
      transform: translateY(-50%);
      transition: color 0.3s;
    }

    &:hover {
      background-color: $grey63;
      &::after,
      &::before {
        color: #fff;
      }
    }
  }

  &__img-wrapper {
    width: 80px;
    height: 90px;
    margin-right: 30px;
    position: relative;

    @include media-w($xl) {
      margin-right: 0;
    }

    @include media-w($md) {
      align-self: stretch;
      height: unset;
      max-width: 80px;
      width: 100%;
      border-right: 1px solid $grey63;
      margin-right: 0;
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }

  &__name {
    margin-right: 125px;

    @include media-w($xl) {
      margin-right: 0;
    }

    @include media-w($md) {
      padding-left: 16px;
      padding-top: 12px;
      width: 100%;
      margin-bottom: 10px;
    }

    @include media-w($xs) {
      padding-left: 30px;
    }
  }

  &__title {
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.015em;

    @include media-w($xs) {
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__price-one {
    margin-right: 120px;

    @include media-w($xl) {
      margin-right: 0;
    }

    @include media-w($md) {
      display: none;
    }
  }

  &__pricing {
    @include media-w($md) {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 16px;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    @include media-w($xs) {
      padding-left: 10px;
    }
  }

  &__size {
    @include media-w($md) {
      color: $grey63;
    }
  }

  &__price-accent {
    font-weight: 600;
    font-size: 20px;
  }

  .jq-number {
    padding: 0;
    margin-right: 30px;

    @include media-w($xl) {
      margin-right: 0;
    }

    &__field {
      display: flex;
      width: 150px;
      border: 1px solid #ccc;
      border-radius: 0;
      box-shadow: none;

      @include media-w($lg) {
        width: 120px;
      }

      @include media-w($md) {
        width: 150px;
        border-bottom: none;
        border-right: none;
      }

      input {
        padding: 16px 10px;
        text-align: center;
        letter-spacing: 0.015em;
        font: 20px 'Poppins',sans-serif;
        color: $black-main;
        font-weight: 600;
        max-width: 50px;
        margin: 0 auto;
      }
    }

    &__spin {
      position: absolute;
      top: 0;
      width: 45px;
      height: 100%;
      border: none;
      border-radius: 0;
      background: 0 0;
      box-shadow: none;
      text-shadow: none;
      cursor: pointer;

      &:hover {
        background: 0 0;
      }

      &:active {
        box-shadow: none;
      }

      &.minus {
        left: 20px;

        &::after {
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border: none;
          width: 7px;
          background-color: $black-main;
          height: 1px;
        }
      }

      &.plus {
        right: 20px;

        &::after {
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border: none;
          height: 9px;
          width: 1px;
          background-color: $black-main;
        }

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          height: 1px;
          width: 9px;
          background-color: $black-main;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;

    @include media-w($xl) {
      width: 100%;
      justify-content: space-between;
    }

    @include media-w($md) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__pin {
    display: none;
    width: 34px;
    height: 46px;
    position: absolute;
    right: -18px;
    top: -10px;

    @include media-w($md) {
      display: block;
    }

    svg {
      max-width: 100%;
      height: 100%;
    }
  }
}