.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $grey60;
  min-height: 476px;
  box-shadow: 0 0;
  position: relative;
  transform: scale(1);
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;

  @include media-w($sm) {
    min-height: 380px;
    justify-content: flex-end;

  }

  @include media-w($xs) {
    min-height: 330px;
  }

  &--sm {
    min-height: 360px;

    @include media-w($sm){
      min-height: 34vh;
    }
  }


  &__image {
    object-fit: contain;
    object-position: center;
    width: 330px;
    max-height: 330px;

    @include media-w($sm) {
      max-width: 100%;
      max-height: 260px;
    }

    &--sm {
      max-width: 254px;
      //height: 255px;

      @include media-w($sm) {
        max-width: 43vw;
      }

    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 1px solid $grey60;
    transition: background-color 0.3s;

    @include media-w($md) {
      height: unset;
    }

    @include media-w($sm) {
      text-align: center;
      padding: 8px;
    }

    @include media-w($xs) {
      padding: 20px 8px 28px;
    }

    &--sm {
      padding: 10px;
    }
  }

  &__title {
    font-size: 20px;
    margin: 0 0 7px 0;
    font-weight: 600;

    @include media-w($sm) {
      font-size: 18px;
    }

    &--sm {
      margin: 0;
    }
  }

  &__stars {
    margin-bottom: 10px;

    &--sm {
      margin-bottom: 5px;
    }
  }

  &__badge {
    position: absolute;
    left: -15px;
    display: flex;
    height: 360px;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 4;

    @include media-w($md) {
      display: none;
    }

    &--sm {
      display: none;

      @include media-w($md) {
        display: flex;
        flex-direction: column;
        top: -10px;
        height: unset;
      }

    }

    svg {
      max-width: 92px;
      max-height: 56px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__price {
    @include media-w($sm) {
      font-size: 16px;
    }
  }
}