.subscribe-form {
  position: relative;
  padding: 180px 0 170px;

  @include media-w($lg) {
    padding: 100px 0;
  }

  @include media-w($sm) {
    padding: 70px 10px 50px;
  }

  &__inner {
    padding: 80px 0 60px;
    border: 2px solid $grey60;
    max-width: 1320px;
    margin: 0 auto;

    @include media-w($sm) {
      border: 0;
    }

    @include media-w($sm) {
      padding: 60px 10px;
    }

    &--blue {
      background-color: $blue-bg;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 870px;
    background-position: -73px;
    background-repeat: no-repeat;

    @include media-w($lg) {
      display: none;
    }
  }

  &__subtitle {
    font-size: 30px;
    text-align: center;
    margin: 0 0 35px 0;
    font-weight: 700;
    letter-spacing: 0.02em;


    @include media-w($sm) {
      font-size: 27px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
  }

  &__label {
    margin-bottom: 30px;
  }

  &__input {
    max-width: 600px;
  }

  &__btn {
    padding: 18px 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    min-width: 270px;
    z-index: 1;
    background-color: $black-main;
    border: 2px solid transparent;
    border-top: 0;
    border-bottom: 0;
    text-transform: uppercase;
    transform: scale(1);
    align-self: flex-end;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s, transform 0.3s;

    @include media-w($md) {
      background-color: $blue60;
    }

    @include media-w($sm) {
      align-self: center;
    }

    &:focus {
      @extend %box-shadow;
    }

    &:hover {
      background-color: rgba($black-main, 0.5);
      //color: $black-main;
      border-color: $black-main;
    }

    &:active {
      transform: scale(1.1);
    }
  }

}