<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/dev.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="js/plugins.js"></script>
<script src="js/dev.js"></script>
 