<header class="header">
    <div class="header__wrapper">
        <div class="header__top">
            <div class="container container--big">
                <div class="header__top-inner">
                    <div class="header__text">
                        <p>All products contain under 0.3% THC | Same day shipping</p>
                    </div>

                    <div class="header__links">
                        <a class="header__link" href="tel:+8558064367">(855) 806-4367</a>
                        <a class="header__link" href="mailto:google@gmail.com">Send email</a>
                        <div class="header__icons">
                            <a class="header__icon" href="#">
                                <svg>
                                    <use xlink:href="images/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                            <a class="header__icon" href="#">
                                <svg>
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                            <a class="header__icon" href="#">
                                <svg>
                                    <use xlink:href="images/sprite.svg#instagram"></use>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__buttons">
            <button class="burger">
                <svg class="burger__svg">
                    <use xlink:href="images/sprite.svg#menu"></use>
                </svg>
            </button>

            <a class="logo" href="#">
                <img class="header__logo-img" src="images/site/logo-mobile.png" alt="Logo img">
            </a>



            <button class="header__btn">
                <svg class="header__svg">
                    <use xlink:href="images/sprite.svg#search"></use>
                </svg>
            </button>

            <div class="header__form-wrapper">
                <form class="header__top-form top-form">
                    <input class="top-form__input" type="text" required>

                    <button class="top-form__submit" type="submit">
                        <svg class="top-form__search">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </button>

                    <div class="top-form__cross">
                        <svg class="top-form__svg">
                            <use xlink:href="images/sprite.svg#cross"></use>
                        </svg>
                    </div>
                </form>
            </div>
        </div>
        <nav class="header__nav">
            <div class="header__nav-inner">
                <div class="container container--big">
                    <div class="header__inner">
                        <div class="header__box">
                            <a class="header__logo logo" href="#">
                                <img class="header__logo-img" src="images/site/logo.png" alt="Header logo">
                            </a>
                            <div class="header__additional">
                                <p>All products contain under 0.3% THC | Same day shipping</p>
                            </div>
                        </div>

                        <div class="header__group">
                            <a class="header__link header__link--personal" href="#">
                                Log in/up
                            </a>
                            <ul class="menu">
                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        Products

                                        <svg class="menu__svg">
                                            <use xlink:href="images/sprite.svg#decor-arrow"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        Our company
                                    </a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        Work with us
                                    </a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        Contacts
                                    </a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        F.A.Q
                                    </a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="#">
                                        Blog
                                    </a>
                                </li>
                            </ul>

                        </div>


                        <div class="user-nav">
                            <form class="header__form">
                                <input class="header__input" type="text" required>

                                <button class="header__submit" type="submit">
                                    <svg class="header__svg">
                                        <use xlink:href="images/sprite.svg#search"></use>
                                    </svg>
                                </button>
                            </form>

                            <a class="user-nav__link user-nav__link--cart" href="#">
                                <svg class="header__svg">
                                    <use xlink:href="images/sprite.svg#cart"></use>
                                    <span class="user-nav__num">3</span>
                                </svg>
                            </a>

                            <a class="user-nav__register" href="#">
                                Sing up
                            </a>

                            <a class="user-nav__login" href="#">
                                Log in
                            </a>
                        </div>

                        <div class="header__contact">
                            <ul class="header__list">
                                <li class="header__item">
                                    <a class="header__icon header__icon--mob" href="#">
                                        <svg>
                                            <use xlink:href="images/sprite.svg#linkedin-dark"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="header__item">
                                    <a class="header__icon header__icon--mob" href="#">
                                        <svg>
                                            <use xlink:href="images/sprite.svg#facebook-dark"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="header__item">
                                    <a class="header__icon header__icon--mob" href="#">
                                        <svg>
                                            <use xlink:href="images/sprite.svg#instagram-dark"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>

                            <ul class="header__list">
                                <li class="header__elem">
                                    <a class="header__link header__link--btn" href="tel:8558064367">(855) 806-4367</a>
                                </li>

                                <li class="header__elem">
                                    <a class="header__link header__link--mail" href="mailto:google@gmail.com">Send
                                        email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <button class="header__cross">
                <svg class="header__cross-svg">
                    <use xlink:href="images/sprite.svg#cross"></use>
                </svg>
            </button>

        </nav>
    </div>
</header>