<section class="benefits">
    <div class="container container--small">
        <h2 class="title benefits__title">We are the Best Company</h2>

        <ul class="benefits__items">
            <li class="benefits__item">
                <div class="benefits__img-wrapper">
                    <img class="benefits__img" src="images/benefits/1.png" alt="Benefits logo">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__subtitle">Top 3 worldwide distributors</h3>
                    <div class="benefits__text">
                        <p>of hemp flower and extracts</p>
                    </div>
                </div>
            </li>

            <li class="benefits__item">
                <div class="benefits__img-wrapper">
                    <img class="benefits__img" src="images/benefits/2.png" alt="Benefits logo">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__subtitle">Over 30 million annually</h3>
                    <div class="benefits__text">
                        <p>in hemp and CBD sales</p>
                    </div>
                </div>
            </li>

            <li class="benefits__item">
                <div class="benefits__img-wrapper">
                    <img class="benefits__img" src="images/benefits/3.png" alt="Benefits logo">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__subtitle">Best pricing guaranteed</h3>
                    <div class="benefits__text">
                        <p>Retail and wholesale</p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</section>