<section class="slider-marketing">
    <div class="slider-marketing__container">
<!--        slider-marketing__container-->
        <ul class="slider-marketing__list">
            <li class="slider-marketing__item">
                <div class="slider-marketing__inner">
                    <div class="slider-marketing__bg">
                        <img class="slider-marketing__img" src="images/top-slider/2.jpg" alt="Product image">
                        <div class="slider-marketing__pin"
                             style="background-image: url('images/top-slider/article-pin.png')"></div>
                    </div>

                    <div class="slider-marketing__text">
                        <div class="slider-marketing__content">
                            <div class="slider-marketing__box">
                                <h3 class="slider-marketing__title">10% Off</h3>
                                <span class="slider-marketing__subtitle">For a limited time</span>

                                <div class="slider-marketing__countdown countdown">
                                    <div class="countdown__wrapper">
                                        <div class="minutes time-elem">
                                            <span class="top"></span>
                                            <span class="top-back">
                                                <span></span>
                                            </span>

                                            <span class="bottom"></span>
                                            <span class="bottom-back">
                                                <span></span>
                                            </span>
                                        </div>
                                        <span class="countdown__text">min</span>
                                    </div>

                                    <div class="countdown__divider"></div>

                                    <div class="countdown__wrapper">
                                        <div class="seconds time-elem">
                                            <span class="top"></span>
                                            <span class="top-back">
                                                <span></span>
                                            </span>

                                            <span class="bottom"></span>
                                            <span class="bottom-back">
                                                <span></span>
                                            </span>
                                        </div>
                                        <span class="countdown__text">sec</span>

                                    </div>
                                </div>
                                <span class="slider-marketing__offer">To Get 10% Off in your next order</span>

                                <a class="green-btn slider-marketing__btn" href="#">Yes, I want</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="slider-marketing__item">
                <div class="slider-marketing__inner">
                    <div class="slider-marketing__bg">
                        <img class="slider-marketing__img" src="images/top-slider/2.jpg" alt="Product image">
                        <div class="slider-marketing__pin"
                             style="background-image: url('images/top-slider/article-pin.png')"></div>
                    </div>

                    <div class="slider-marketing__text">
                        <div class="slider-marketing__content">
                            <div class="slider-marketing__box">
                                <h3 class="slider-marketing__title">10% Off</h3>
                                <span class="slider-marketing__subtitle">For a limited time</span>

                                <div class="slider-marketing__countdown countdown">
                                    <div class="countdown__wrapper">
                                        <div class="minutes time-elem">
                                            <span class="top"></span>
                                            <span class="top-back">
                                                <span></span>
                                            </span>

                                            <span class="bottom"></span>
                                            <span class="bottom-back">
                                                <span></span>
                                            </span>
                                        </div>
                                        <span class="countdown__text">min</span>
                                    </div>

                                    <div class="countdown__divider"></div>

                                    <div class="countdown__wrapper">
                                        <div class="seconds time-elem">
                                            <span class="top"></span>
                                            <span class="top-back">
                                                <span></span>
                                            </span>

                                            <span class="bottom"></span>
                                            <span class="bottom-back">
                                                <span></span>
                                            </span>
                                        </div>
                                        <span class="countdown__text">sec</span>

                                    </div>
                                </div>
                                <span class="slider-marketing__offer">To Get 10% Off in your next order</span>

                                <a class="green-btn slider-marketing__btn" href="#">Yes, I want</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>