.info-block {
  display: flex;
  align-items: flex-end;
  color: $black-main;

  @include media-w($md) {
    flex-direction: column-reverse;
  }

  &__img-wrapper {
    max-width: 600px;
    max-height: 390px;
    margin-right: 30px;

    @include media-w($md) {
      margin-right: 0;
      max-width: unset;
      max-height: unset;
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }

  &__content {
    max-width: 515px;
    padding: 14px 0 0;

    @include media-w($md) {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-size: 24px;
    letter-spacing: 0.02em;

    @include media-w($md) {
      font-size: 18px;
    }
  }

  &__text {

    @include media-w($md) {
      margin-bottom: 50px;
    }

    a {
      text-decoration: underline;
      color: $green60;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
