.results {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include media-w($md) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__img-wrapper {
    margin-bottom: 20px;

    @include media-w($md) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 290px;

    @include media-w($md) {
      max-width: unset;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include media-w($md) {
        margin-right: 0;
        margin-bottom: 35px;
      }
    }
  }

  &__title {
    font-size: 18px;
    margin: 0 0 5px;
    font-weight: 600;
  }
}
