<section class="affiliate-results">
    <div class="container container--810">
        <div class="affiliate-results__top">
            <h2 class="affiliate-results__title title">Why Join our CBD Flower Affiliate Program?</h2>
            <div class="affiliate__text">
                <p>
                    If you are looking for a high-paying, high-converting premium CBD hemp flower and cannabinoid
                    affiliate program, then look no further. With IHF LLC, we offer a sliding scale commission structure
                    for all referred sales to our website.
                </p>
            </div>
        </div>

        <ul class="affiliate-results__items">
            <li class="affiliate-results__item">
                <article class="affiliate-card">
                    <div class="affiliate-card__left">
                        <div class="affiliate-card__num">
                            1
                            <span class="affiliate-card__text">
                                tier
                            </span>
                        </div>
                    </div>

                    <div class="affiliate-card__content">
                        <p>$1 – $5000 sales per month</p>
                        <p><b>15%</b> commission on every sale</p>
                    </div>
                </article>
            </li>

            <li class="affiliate-results__item">
                <article class="affiliate-card">
                    <div class="affiliate-card__left">
                        <div class="affiliate-card__num">
                            2
                            <span class="affiliate-card__text">
                                tier
                            </span>
                        </div>
                    </div>

                    <div class="affiliate-card__content">
                        <p>$5000 sales per month</p>
                        <p><b>25%</b> commission on every sale!</p>
                    </div>
                </article>
            </li>
        </ul>

        <div class="affiliate-text">
            <p>
                Our program has a high conversion rate and we are well-trusted in the hemp and flower industry. Our
                premium flower is sold in retail and bulk amounts online with COAs, licensing information and testing
                documents publicly available. We also have some of the lowest prices of <a href="#">bulk isolate</a> and
                <a href="#">distillate online</a>.
            </p>

            <p>
                These facts make us a superior choice for those looking for a hemp flower company to buy from. This
                means our affiliates boast a higher conversion rate with better yields on their payouts.
            </p>
        </div>
    </div>
</section>