<div class="banner" style="background-image: url('images/affiliate/banner-affiliate.png')">
    <div class="banner__inner">
        <div class="banner__content">
            <h1 class="banner__title title">
                Become a partner of our program and earn with us
            </h1>

            <a class="banner__btn green-btn green-effect" href="#">Become Affiliate</a>
        </div>
    </div>
</div>