@@include('parts/head.html')
<div class="global-wrapper">
    @@include('parts/header.html')
    <main class="main">
        @@include('parts/affiliate/_banner.html')
        <div class="container container--810">
            <div class="affiliate-text">
                <p>
                    CBD hemp flower is a booming industry both online and offline.
                    By choosing this profitable niche, affiliates are securing themselves in an expanding industry segment of hemp and CBD.
                    IHF is proud to announce its highest paying tiered affiliate program.
                    This applies to all of our products including our <a href="#">50+ hemp flower strains</a>, <a
                        href="#">bulk cannabinoids</a> and <a href="#">CBD products</a>
                </p>

                <p>
                    Hemp flower is unlike more established market segments like CBD.
                    The competition is still low enough for most small internet marketers to compete and make lots of money.
                    So, what are waiting for? Jump on the green gold rush now while there is still room..
                </p>
            </div>
        </div>
        @@include('parts/affiliate/_join-row.html')
        @@include('parts/affiliate/_affiliate-results.html')
        @@include('parts/affiliate/_affiliate-features.html')
    </main>

    @@include('parts/footer.html')
    @@include('parts/footer-links.html')
</div>
</body>
</html>