@@include('parts/head.html')
<div class="global-wrapper">
    @@include('parts/header.html')
    <nav class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Home</a>
                </li>

                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="main">
        @@include('parts/contact/_contact.html')
    </main>

    @@include('parts/footer.html')

</div>



<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.querySelector(".contact__map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
        });
    }

</script>
@@include('parts/footer-links.html')

</body>
</html>